.card>.img-cntr{
    /* width: 100%; */
    height: auto;
    overflow: hidden;
}
.card>.img-cntr>img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.card>.img-cntr>img:hover{
transform: scale(1.1);
}